body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    min-height: 1080px;
    
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.6)
        ),
        url("https://i.imgur.com/JNnzgsS.jpeg");

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
    text-shadow: 2px 2px #000000;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
    filter: hue-rotate(32deg) brightness(200%) drop-shadow(2px 2px 3px black);
}

.git-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    filter: invert(100%) drop-shadow(2px 2px 3px black);
}

body > img {
    margin: 0 10px;
}

img {
    max-height: 250px;
}

.anime {
    filter:drop-shadow(4px 4px 6px black);
}

.form-wrapper {
    margin: 0 0 15px;
}
  
.form-wrapper input {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 10px 15px;
    filter: drop-shadow(1px 1px black);
}

::placeholder {
    text-align: center;
}

.form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #ff6200;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(2px 2px 3px black);
}

.form-wrapper button:hover {
    opacity: 0.8;
}

p {
    color:#ffffff;
    text-shadow: 1px 1px 1px #000000;
}